.footerContainer {
  background-color: #333;
  padding-left: 20px;
  transition: margin-left 0.3s ease;
  color: white;
}

.footerTitle {
  color: #2BAF49;
}

.footerText {
  color: white;
}

/* Add left margin for larger screens */
@media (min-width: 1300px) {
  .footerContainer {
    margin-left: 200px;
  }
}
