/* src/components/Footer.module.css */
.footerContainer {
  background-color: #333;
  padding-left: 20px;
  transition: margin-left 0.3s ease;
  color: white;
}

.footerContainer.fullWidth {
  margin-left: 0;
}

.footerTitle {
  color: #2BAF49;
  text-align: center;
}

.footerText {
  color: white;
  text-align: left; /* Keep the default alignment for other sections */
}

/* Center-align for the contact section */
.footerContact .footerTitle,
.footerContact .footerText {
  text-align: center;
}

/* Center-align for the ownerInfo section */
.footerOwnerInfo {
  text-align: center;
}

.footerOwnerInfo p {
  text-align: center; /* Ensure the text within p is centered */
}

/* Add left margin for larger screens */
@media (min-width: 1300px) {
  .footerContainer {
    margin-left: 200px;
  }

  .footerContainer.fullWidth {
    margin-left: 0;
  }
}
