@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.appContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

.img {
  max-width: 400px;
  max-height: 400px;
}

.topics_nav {
  position: fixed;
  margin-top: -44px;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 999;
}

.topics_nav_toggle {
  display: none;
  cursor: pointer;
  margin-top: 7px;
}

.topics_nav_toggle span {
  display: block;
  height: 2px;
  width: 25px;
  margin-bottom: 5px;
  background: #555;
  position: relative;
}

.topics_nav_toggle span:nth-child(2) {
  width: 20px;
}

.topics_nav_toggle span:last-child {
  margin-bottom: 0;
}

.topics_navbar_menu {
  padding-left: 200px;
  position: absolute;
  margin-top: 160px;
  width: 100%;
  background-color: #333;
  display: flex;
  justify-content: center;
  overflow-x: auto;
}

.topics_navbar_menu ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  white-space: nowrap;
}

.topics_navbar_menu::-webkit-scrollbar {
  width: 0;
  height: 0;
  background: transparent;
}

.topics_navbar_menu a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #e0dfdf;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

.topics_navbar_menu li :hover {
  background-color: #2BAF49;
}

.main_container {
  position: absolute;
  margin-top: 140px;
}

.chapters_content {
  display: flex;
  color: white;
}

.sidenav {
  color: white;
}

.hr_style {
  margin-left: 200px;
  margin-right: 150px;
  ;
}

.menu {
  width: 210px;
  position: fixed;
  background: #f1f1f1;
  text-align: center;
  top: 0;
  left: 0;
  bottom: 0;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #ccc #f5f5f5;
  z-index: 999;
  margin-top: 160px;
}

.menu::-webkit-scrollbar {
  width: 6px;
}

.menu::-webkit-scrollbar-track {
  background: linear-gradient(to bottom,
      #f5f5f5,
      #ddd);
}

.menu::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
}

.menu_container {
  display: flex;
  align-items: center;
  position: fixed;
  margin-top: 50px;
}

.hamburger_icon {
  display: none;
}

.hamburger_icon span {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px;
  background-color: black;
}

.lessons_menu::-webkit-scrollbar-track {

  background-color: #f5f5f5;
}

.lessons_menu::-webkit-scrollbar-thumb {

  background-color: #ccc;
  border-radius: 10px;
}

.tree {
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  line-height: 1.5;
  color: #444;
}

.chapter {
  margin: 0;
  padding: 10px;
  background-color: #f1f1f1;
  color: #444;
  font-weight: bold;
  cursor: pointer;
  width: 200px;
  font-size: 18px;
}

.chapter:hover {
  background-color: #ddd;
}

.chapter.active {
  background-color: #ddd;
}

.lesson {
  margin: 0;
  padding: 5px 10px;
  font-weight: normal;
  color: #666;
}

.lesson:hover {
  background-color: #f5f5f5;
}

.tree ul {
  margin: 0;
  padding: 0;
  display: none;
}

.tree .active>ul {
  display: block;
}

.tree a {
  display: block;
  text-decoration: none;
  font-family: Arial, sans-serif;

  line-height: 1.5;
}

.tree li {
  list-style-type: none;
  font-family: Arial, sans-serif;
  line-height: 1.5;
}

.menu_container {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
}

.lessons_menu {
  position: static;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.chapter {
  font-weight: bold;
}

.hamburger_icon {
  display: none;
}

.hamburger_icon span {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px;
  background-color: black;
}

a {
  color: white;
}

.links {
  color: white;
}

.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

.row.content {
  height: 600px;
}

.sidenav {
  height: 100%;
}

.content_container {
  display: flex;
  flex-direction: row;
  flex: 1;
  margin-top: 0; /* elimină orice marjă care poate cauza probleme */
}



.left_menu {
  float: left;
  /* width: 210px; */
  position: fixed;
  /* background: #f1f1f1; */
  text-align: center;
  top: 0;
  transition: top 0.3s;
  margin-top: 490px;
}

.middle_contant {
  margin-top: 60px;
  width: 70%;
  padding-top: 60px;
}

.right_ads {
  position: fixed;
  top: 50px;
  right: 0;
  width: 150px;
  height: 100vh;
  margin-top: 80px;
  padding-top: 30px;
}

.home_container {
  margin-top: 100px;
  background: #f1f1f1;
  color: #333;
  padding: 2rem;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home_title {
  font-size: 2.5rem;
  margin-bottom: 0.5em;
  color: #383E42;
  font-family: 'Arial', sans-serif;
}

.home_intro {
  font-size: 1.5rem;
  line-height: 2.5;
  color: #555;
  font-family: 'Georgia', serif;
  animation: blinkCursor 0.75s step-end infinite;

}

.home_subtitle {
  font-size: 2rem;
  color: #333;
  margin-top: 2em;
  font-family: 'Helvetica', sans-serif;
}

.home_info,
.home_invite {
  font-size: 1rem;
  margin-top: 1em;
  color: #666;
  font-family: 'Courier New', monospace;
}

.topics_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.topic_button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #d8d4d4, #8a8f91);
  color: white;
  padding: 1rem;
  border-radius: 10px;
  text-decoration: none;
  font-size: 1.2rem;
  width: 400px;
  height: 200px;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
  transition: transform 0.5s, font-size 0.5s;
  cursor: pointer;
}

.topic_button h3 {
  color: white;
  margin-top: 1rem;
  text-align: center;
  font-size: 1.5rem;
  transition: font-size 0.5s;
}

.topic_button:hover h3 {
  font-size: 2.9rem;
}

.home_container {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding: 0 15px;
  background: #f5f5f5;
  color: #333;
}

.home_title {
  font-size: 2.5em;
  font-weight: 700;
  margin-top: 50px;
  margin-bottom: 30px;
}

.home_info {
  font-size: 1.8em;
  background: white;
  padding: 20px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin: 0 auto;
  max-width: 800px;
}

.home_invite {
  font-size: 1.5em;
  font-weight: 400;
  margin-top: 40px;
  margin-bottom: 60px;
}

.home_subtitle {
  font-size: 2em;
  font-weight: 700;
  margin-bottom: 20px;
}

.topics_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.topic_button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 340px;
  height: 180px;
  margin: 15px;
  background: linear-gradient(to bottom right, #383E42, #2BAF49);
  color: #dfdfdf;
  text-decoration: none;
  border-radius: 10px;
  font-size: 25px;
  transition: all 0.3s ease-in-out, background 0.5s ease-in-out;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.topic_button:hover {
  transform: scale(1.1);
  background: linear-gradient(to top left, #2BAF49, #E8DE63);
  transition: transform 0.3s ease-in-out, background 0.5s ease;
}


.chapter {
  background-color: #f1f1f1;
  color: #444;
  font-weight: bold;
  cursor: pointer;
}

.chapter:hover {
  background-color: #ddd;
}

.chapter.active {
  background-color: #ddd;
}

.lesson {
  margin: 0;
  padding: 5px 10px;
  font-weight: normal;
  color: #666;
}

.lesson:hover {
  background-color: #f5f5f5;
}

.tree ul {
  margin: 0;
  padding: 0;
  display: none;
}

.tree .active>ul {
  display: block;
}

.tree a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-family: Arial, sans-serif;

  line-height: 1.5;
}

.tree li {
  font-family: Arial, sans-serif;

  line-height: 1.5;
}

.menu-container {
  height: 120%;
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  background: #f1f1f1;
}

.lessons-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.chapter {
  font-weight: bold;
}

.lesson {
  margin-left: 20px;
}

.hamburger-icon {
  display: none;
}

.hamburger-icon span {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px;
  background-color: black;
}

.social_links_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.social_link {
  margin: 0 15px;
  transition: transform 0.2s;
}

.social_link:hover {
  transform: scale(1.1);
}

.social_icon {
  width: 30px;
  height: 30px;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.donationPopup {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 5px;
  max-width: 400px;
  text-align: center;
  position: relative;
  color: #333;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 1rem;
  background: none;
  border: none;
  color: #333;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

p {
  font-size: 1rem;
  margin-bottom: 20px;
}

.problemListContainer {
  margin-top: 150px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.filterContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
}

.filterInput {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.problemTable {
  margin-top: 20px;
  background-color: #fff;
}

.problemTable th {
  background-color: #f0f0f0;
}

.pagination {
  margin-top: 20px;
  justify-content: center;
}

.modalHeader {
  background-color: #007bff;
  color: #fff;
  border: none;
}

.modalTitle {
  margin: 0;
  font-size: 24px;
}

.paginationContainer {
  display: flex;
  justify-content: center;
}

.fadeIn {
  animation: fadeInEffect 8s ease-out forwards;
}

@keyframes fadeInEffect {
  from {
    opacity: -1;
  }

  to {
    opacity: 1;
  }
}

.topicActive {
  background-color: #2BAF49;
}

@media (max-width: 1300px) {
  .content_container {
    margin-top:100px;
    margin-left: 40px;
  }

  .left_menu {
    width: 210px;
    position: fixed;
    background: #f1f1f1;
    text-align: center;
    top: 0;
    margin-top: 85px;
    left: 0;
  }

  .middle_contant {
    padding-top: 70px;
  }

  .right_ads {
    margin-top: 105px;
  }

  .menu_container {
    width: 100%;
    align-items: center;
    position: absolute;
  }

  .menu {
    position: absolute;
    display: none;
    flex-direction: column;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    height: 500px;
    background-color: #f5f5f5;
    /* z-index: 1; */
    padding: 10px;
    box-sizing: border-box;
  }

  .hamburger_icon {
    display: block;
    cursor: pointer;
    position: fixed;
    top: 170px;
    width: 100%;
    background-color: gray;
    top: 155px;
  }

  .menushow {
    margin-top: -35px;
    display: flex;
    width: 100%;
  }

  .hamburger-icon {
    display: block;
    cursor: pointer;
  }

  .chapter {
    font-weight: normal;
    padding-bottom: 5px;
  }

  .lesson {
    margin-left: 0;
  }

  .menu li {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    width: 100%;
  }
}

@media (max-width: 1200px) {
  .chapter {
    font-size: 14px;
  }

  .tree a {
    font-size: 12px;
  }
}

@media only screen and (max-width: 1000px) {
  .content_container {
    flex-direction: column;
  }


  .left_menu,
  .middle_contant,
  .right_ads {
    width: 90%;
  }

  .right_ads {
    position: relative; /* Schimbă la relative dacă este absolut */
    z-index: 1; /* Z-index mai mic pentru a nu suprapune meniul */
    display: block;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 10px;
    max-height: 300px;
    margin-bottom: 100px;
  }
}

@media screen and (max-width: 768px) {
  .topic_button {
    width: 80%;
    margin-bottom: 20px;
  }

  .topic_button {
    width: 90%;
  }
}

@media (min-width: 1300px) {
  .content_container {
    margin-top:100px;
    margin-left: 20px;
    display: flex;
    
  }

  .left_menu {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    overflow-y: auto;
    background: #f1f1f1;
    z-index: 999;
  }

  .middle_contant {
    width: calc(80% - 290px); 
    margin-left: 250px;
  }

  .middle_contant img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto; /* Centrare opțională */
  }
  
}

.hero_description {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.6;
  color: #333;
  text-align: center;
  margin: 0 auto;
  max-width: 800px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.activeLesson {
  background-color: #2baf49;
  color: white;
}



